<MudStack>
    <div class="d-flex gap-4 justify-end">
        <MudText Class="my-auto">AP</MudText>
        <ActionPointEdit Item="Item" />
    </div>
    <div class="d-flex gap-4 justify-end">
        <MudText Class="my-auto">Attack/Spell Check</MudText>
        <MudPaper Outlined="true" Class="d-flex px-4 py-2">
            <MudText Typo="Typo.h6">@(Item.Creature.Prime + Item.Character?.CombatMastery)</MudText>
        </MudPaper>
    </div>
    <div class="d-flex gap-4 justify-end">
        <MudText Class="my-auto">Save DC</MudText>
        <MudPaper Outlined="true" Class="d-flex px-4 py-2">
            <MudText Typo="Typo.h6">@(10 + Item.Creature.Prime + Item.Character?.CombatMastery)</MudText>
        </MudPaper>
    </div>
    <MudText Typo="Typo.h6">Attacks</MudText>
    <MudDivider />
    @if(!Item.IsNPC)
    {
        <div class="mud-table">
            <div class="mud-table-container">
                <table class="mud-table-root">
                    <colgroup>
                        <col />
                        <col style="width:20%"/>
                        <col style="width:20%"/>
                    </colgroup>
                    <thead class="mud-table-head">
                        <tr class="mud-table-row">
                            <th class="mud-table-cell px-0"><MudText Typo="Typo.caption">Name</MudText></th>
                            <th class="mud-table-cell px-0"><MudText Typo="Typo.caption" Class="d-flex justify-center">Dmg</MudText></th>
                            <th class="mud-table-cell px-0"><MudText Typo="Typo.caption" Class="d-flex justify-center">Equip</MudText></th>
                        </tr>
                    </thead>
                    <tbody class="mud-table-body">
                        @foreach(Weapon weapon in Item.Character!.Weapons)
                        {
                            <tr class="mud-table-row">
                                <td class="px-0 mx-auto">@weapon.Name</td>
                                <td class="px-0">
                                    <MudText Align="Align.Center">@($"{weapon.Damage} ({weapon.DamageType.ToString().First()})")</MudText>
                                </td>
                                <td class="px-0 d-flex justify-center">
                                    <MudCheckBox T="bool"/>
                                </td>
                            </tr>
                            <tr class="mud-table-row">
                                <td class="mud-table-cell pa-0" colspan="3">
                                    @if(!string.IsNullOrEmpty(weapon.Style.Effect))
                                    {
                                        <MudChip T="string">@($"{weapon.Style.Name}: {weapon.Style.Effect}")</MudChip>
                                    }
                                    @foreach(WeaponProperty property in weapon.WeaponProperties)
                                    {
                                        @if(!string.IsNullOrEmpty(property.Effects))
                                        {
                                            <MudChip T="string">@($"{property.Name}: {property.Effects}")</MudChip>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</MudStack>

@code {
    [Parameter] public EncounterItem Item { get; set; }
}