<div class="d-flex gap-2 mb-3">
    <MudTextField Class="my-auto" @bind-Value="currency" Variant="Variant.Outlined" Label="Currency" HelperTextOnFocus="true" HelperText="@Item.Creature.Currency.ToString()"
        AdornmentText="Maize" Adornment="Adornment.End" Immediate="false"/>
    <MudButton Class="mb-6" Variant="Variant.Filled" Color="Color.Info" OnClick="CurrencyChanged">Enter</MudButton>
</div>

<MudButton FullWidth Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" OnClick="@(() => Item.Creature.Items.Add(new()))">New Item</MudButton>
<MudTable Items="Item.Creature.Items" Breakpoint="Breakpoint.Md">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Quantity</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">
            <MudTextField @bind-Value="context.Name" />
        </MudTd>
        <MudTd DataLabel="Description" HideSmall=true>
            <MudTextField @bind-Value="context.Description" />
        </MudTd>
        <MudTd DataLabel="Quantity">
            @if (context.Quantity == 0) {
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" OnClick="() => Item.Creature.Items.Remove(context)"/>
            } else {
                <MudIconButton Icon="@Icons.Material.Filled.Remove" Variant="Variant.Filled" Color="Color.Error" OnClick="() => context.Quantity--"/>
            }
            <MudText>@context.Quantity</MudText>
            <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Success" OnClick="() => context.Quantity++"/>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    private string currency = "";
    [Parameter] public EncounterItem Item { get; set; } = new();

    void CurrencyChanged()
    {
        int newValue = 0;
        bool isInt = int.TryParse(currency, out newValue);
        if (!isInt || currency == Item.Creature.Currency.ToString()) {
            return;
        }
        else if (currency.StartsWith('+') || currency.StartsWith('-')) {
            Item.Creature.Currency += newValue;
        }
        else {
            Item.Creature.Currency = newValue;
        }
        currency = Item.Creature.Currency.ToString();
        StateHasChanged();
    }
}