<MudCard Style="height: 70vh; width: 80vw">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Secondary" Size="Size.Large">
                <MudImage Src="@("images/" + Creature?.ImageSrc)" />
            </MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.h4">@Creature?.Name</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Default" OnClick="() => CardClosed.InvokeAsync()" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent Class="overflow-scroll">
        <MudTabs Rounded="true" ApplyEffectsToContainer="true">
            @if (character != null)
            {
                <MudTabPanel Text="Combat">
                    <div class="d-flex flex-grow-1">
                        <PropertyDisplay Title="Attack/Spell" Value="@(Creature.Prime + character.CombatMastery)" />
                        <PropertyDisplay Title="Save DC" Value="@(10 + Creature.Prime + character.CombatMastery)" />
                        <PropertyDisplay Title="Martial Check" Value="@(Math.Max(character.Athletics, character.Acrobatics))" />
                        <PropertyDisplay Title="Stamina" @bind-Value="@character.MaxStamina" CanEdit="true"/>
                        <PropertyDisplay Title="Mana" @bind-Value="@character.MaxMana" CanEdit="true"/>
                    </div>
                    <div class="d-flex">
                        <MudText Typo="Typo.h4" Class="mt-2">Weapons</MudText>
                        <MudSpacer />
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" OnClick="@(() => WeaponsOpened.InvokeAsync())" />
                    </div>

                </MudTabPanel>
            }
            <MudTabPanel Text="Skills">
                <MudText Typo="Typo.h4" Class="mt-2">Skills</MudText>
                <MudDivider/>
                <div class="d-flex flex-grow-1">
                    <div style="width: 25%"/>
                    <SkillCard Creature="Creature" Attribute=@nameof(Creature.Prime) />
                    <div style="width: 25%" />
                </div>
                <div class="d-flex flex-grow-1">
                    <SkillCard Creature="Creature" Attribute=@nameof(Creature.Might) Class="me-2"/>
                    <SkillCard Creature="Creature" Attribute=@nameof(Creature.Agility) />
                </div>
                <div class="d-flex flex-grow-1">
                    <SkillCard Creature="Creature" Attribute=@nameof(Creature.Charisma) Class="me-2" />
                    <SkillCard Creature="Creature" Attribute=@nameof(Creature.Intelligence) />
                </div>
                @if (character != null)
                {
                    <MudText Typo="Typo.h4">Trades</MudText>
                    <MudDivider />
                    <TradeCard Character="character" />
                }
            </MudTabPanel>
        </MudTabs>
    </MudCardContent>
    <MudCardActions>
        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
    </MudCardActions>
</MudCard>

@code {
    private Character? character => Creature?.GetType() == typeof(Character) ? (Character)Creature : null;
    [Parameter] public Creature? Creature { get; set; }
    [Parameter] public EventCallback CardClosed { get; set;}
    [Parameter] public EventCallback WeaponsOpened { get; set; }
}
