@inject DBService db

<MudCard Style="height: 100%">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h3">Spells</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Default" OnClick="() => CardClosed.InvokeAsync()" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <div class="d-flex my-2">
            @if (SelectedSpell == null)
            {
                <MudAutocomplete T="Spell" Label="Spell" @bind-Value="SelectedSpell" SearchFunc="@SpellSearch" Clearable="true" ToStringFunc="s => s?.Name" />
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="CreateSpell" Variant="Variant.Filled" Color="Color.Success" />
            }
           
        </div>
        @if (SelectedSpell != null)
        {
            <MudTextField @bind-Value=SelectedSpell.Name Label="Name" Variant="Variant.Outlined" />
            <div class="d-flex mb-2 gap-2">
                <MudNumericField Label="AP" @bind-Value=SelectedSpell.AP Variant="Variant.Outlined" />
                <MudNumericField Label="MP" @bind-Value=SelectedSpell.MP Variant="Variant.Outlined" />
            </div>
            <MudTextField @bind-Value=SelectedSpell.Range Label="Range" Class="mb-2" Variant="Variant.Outlined" />
            <div class="d-flex gap-2 mb-2">
                <MudTextField @bind-Value=SelectedSpell.Duration Label="Duration" Variant="Variant.Outlined" />
                <MudCheckBox @bind-Value=SelectedSpell.Concentration Label="Concentration" Class="my-auto" />
            </div>
            <MudTextField @bind-Value=SelectedSpell.Description Label="Description" Class="mb-2" Lines="15" Variant="Variant.Outlined" />
            <div class="d-flex">
                <MudText Class="my-auto">Enhancements</MudText>
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="() => editEnhancement = new()" Class="my-auto" Variant="Variant.Filled" Color="Color.Success">+</MudIconButton>
            </div>
            @if (SelectedSpell.Enhancements != null)
            {
                <div class="d-flex flex-wrap">
                    @foreach (var enhancement in SelectedSpell.Enhancements)
                    {
                        <MudChip T="string" Color="Color.Primary" OnClick="() => editEnhancement = enhancement" OnClose="() => RemoveEnhancement(enhancement)">@enhancement.Name</MudChip>
                    }
                </div>
            }
            @if (editEnhancement != null)
            {
                <MudTextField autocomplete="off" @bind-Value=editEnhancement.Name Variant="Variant.Outlined" Label="Name" Placeholder="New Enhancement" />
                <div class="d-flex gap-2">
                    <MudNumericField Label="AP" @bind-Value=editEnhancement.AP Variant="Variant.Outlined" />
                    <MudNumericField Label="MP" @bind-Value=editEnhancement.MP Variant="Variant.Outlined" />
                </div>
                <MudTextField autocomplete="off" @bind-Value=editEnhancement.Description Variant="Variant.Outlined" Label="Description" Lines="3" />
                <MudButton OnClick="AddSpellEnhancement" FullWidth="true" Color="Color.Success" Variant="Variant.Filled">Save</MudButton>
            }
        }
    </MudCardContent>
    <MudCardActions>
        @if (SelectedSpell != null)
        {
            <MudButton OnClick="SaveSpell" FullWidth="true" Color="Color.Success" Variant="Variant.Filled">Save</MudButton>
        }
    </MudCardActions>
</MudCard>

@code {
    private SpellEnhancement? editEnhancement { get; set; }
    [Parameter] public EventCallback CardClosed { get; set; }
    [Parameter] public Spell? SelectedSpell { get; set; }
    [Parameter] public bool CloseAfterSave { get; set;}


    private async Task<IEnumerable<Spell>> SpellSearch(string value, CancellationToken token)
    {
        if (string.IsNullOrEmpty(value))
            return await db.GetSpellsAsync();
        return await db.SearchSpellsAsync(value);
    }

    private async Task AddSpellEnhancement()
    {
        if (!SelectedSpell!.Enhancements.Contains(editEnhancement!))
        {
            SelectedSpell!.Enhancements.Add(editEnhancement!);
            editEnhancement!.SpellId = SelectedSpell.Id;
        }
        await db.UpdateAsync(editEnhancement!);
        editEnhancement = null;
    }

    private async Task SaveSpell()
    {
        await db.UpdateAsync(SelectedSpell!);
        SelectedSpell = null;
        if (CloseAfterSave)
        {
            await CardClosed.InvokeAsync();
        }
    }

    private async Task RemoveEnhancement(SpellEnhancement enhancement)
    {
        SelectedSpell!.Enhancements.Remove(enhancement);
        await db.DeleteSpellEnhancementAsync(enhancement);
    }

    private async Task CreateSpell()
    {
        SelectedSpell = new();
        SelectedSpell = await db.UpdateAsync(SelectedSpell);
    }
}
