<MudCard Style="height: 70vh; width: 80vw"> 
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Secondary" Size="Size.Large">
                <MudImage Src="@("images/" + Item.Creature.ImageSrc)" />
            </MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.h4">@Item.Creature.Name</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Default" OnClick="() => CardClosed.InvokeAsync()" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent Class="overflow-scroll">
        <MudTabs Rounded="true" ApplyEffectsToContainer="true">
            <MudTabPanel Text="Martial">
                <MartialTab Item="Item" WeaponsOpened="WeaponsOpened" />
            </MudTabPanel>
            <MudTabPanel Text="Spells">
                <SpellTab Item="Item" SpellsOpened="SpellsOpened" />
            </MudTabPanel>
            <MudTabPanel Text="Skills">
                <MudText Typo="Typo.h4" Class="mt-2">Skills</MudText>
                <MudDivider/>
                <div class="d-flex flex-grow-1">
                    <div style="width: 25%" />
                    <SkillCard Creature="Item.Creature" Attribute=@nameof(Creature.Prime) Class="me-2"/>
                    <div style="width: 25%" />
                </div>
                <div class="d-flex flex-grow-1">
                    <SkillCard Creature="Item.Creature" Attribute=@nameof(Creature.Might) Class="me-2"/>
                    <SkillCard Creature="Item.Creature" Attribute=@nameof(Creature.Agility) />
                </div>
                <div class="d-flex flex-grow-1">
                    <SkillCard Creature="Item.Creature" Attribute=@nameof(Creature.Charisma) Class="me-2" />
                    <SkillCard Creature="Item.Creature" Attribute=@nameof(Creature.Intelligence) />
                </div>
                @if (Item.Character != null)
                {
                    <MudText Typo="Typo.h4">Trades</MudText>
                    <MudDivider />
                    <TradeCard Character="Item.Character" />
                }
            </MudTabPanel>
            @if (Item.IsNPC)
            {
                <MudTabPanel Text="Monster">
                    <MonsterTab Item="Item" />
                </MudTabPanel>
            }
        </MudTabs>
    </MudCardContent>
    <MudCardActions>
        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
    </MudCardActions>
</MudCard>

@code {
    [Parameter] public EncounterItem Item { get; set; }
    [Parameter] public EventCallback CardClosed { get; set;}
    [Parameter] public EventCallback WeaponsOpened { get; set; }
    [Parameter] public EventCallback SpellsOpened { get; set; }
}
